/* Stuff for the entire page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --white: #f7f7f7;
    --green: #558b6e;
    --black: #3f3f3f;
    --blue: #2c4dd4;
    --orange: #f17354;
    --gray: #4c5b5c;
    --purple: #6d5af1;
}


body{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: var(--black);
    margin: 0rem;
    overflow-x: hidden;
    color: var(--white);
}

/* Header stuff */
.green{
    color: var(--green);
    font-weight:1000;
}
header{
    font-weight: 700;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}


/* idk */
.main{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    width: 90%;
    min-height: 3rem;
    margin-top: 1%;
    display: flex;
    align-items: center;
    background: var(--black);
    border: 3px solid rgb(247, 247, 247, .2);
    border-radius: 15px;
    z-index: 10;
}

#enter{
    height: 100%;
    width: 2.5%;
    background: none;
    border: none;
    color: rgb(247, 247, 247, .5);
    font-size: 20px;
    padding-right: 1%;
}
.enter:hover{
    cursor: pointer;
}
#text{
    background: none;
    border: none;
    color: var(--white);
    font-size: 17px;
        width: 99%;
    height: 99%;
}
#text:focus{
    outline: none;
}
.textBox{
    width: 90vw;
    min-height: 75vh;
    border: 3px solid rgb(247, 247, 247, .2);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.textArea{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1%;
    overflow: auto;
}


/* Text Bubble */
.textBubble{
    min-height: 2rem;
    max-width: 100%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    background-color: var(--white);
    color: var(--black);
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 5px var(--white);
    display: flex;
    align-items: center;
}
.aiBubble{
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    background-color: var(--green);
    box-shadow: 0px 0px 5px var(--green);
    color: var(--white);
}
.userArea, .aiArea{
    padding-block: .5%;
    max-width: 100%;
    min-height: 5%;
    display: flex;
    justify-content: flex-end;
}
.aiArea{
    justify-content: flex-start;

}

@media(max-width: 840px)
{
    #enter{
        width: 4%;
    }
}

@media(max-width: 640px)
{
    #enter{
        width: 5%;
    }
    
}
@media(max-width: 480px)
{
    #enter{
        width: 10%;
        padding-right: 1.7rem;
    }
    .textBox{
        min-height: 65vh;
    }
    .main{
        display: flex;
        padding-top: 4%;
        justify-content: flex-start;
    }
    .textBubble{
        padding-left:  4%;
        padding-right: 4%;
    }
    .userArea, .aiArea{
        padding-block: 1%;
    }
}
